<!DOCTYPE html>
<!-- 

              .      ,-.  .             .        .
    ,-. ,-. ,-| . . /,-.\ |-. ,-. . . ,-| ,-.    . ,-.
    ,-| | | | | | | |,-|| | | ,-| | | | | | |    | | |
    `-^ ' ' `-^ `-| \`-^/ ^-' `-^ `-^ `-^ `-' :; ' ' '
                 /|  `-'
                `-'
-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- build:css css/main.css -->
        <link rel="stylesheet" href="/css/main.css">
        <!-- endbuild -->
    </head>
    <body>

      <div class="container">

        <header>
          <h1><a href="/">{{ site.name }}</a>
              <span>Front-end Developer,<br>
              Maker,<br>
              Designer</span>
          </h1>
          <p>Living and working in <br>the Portland area.</p>

          <div class="social">
              <a href="https://twitter.com/baudoin">
                  <i class="icon-twitter"></i> 
              </a>
              <a href="https://github.com/baudoin">
                  <i class="icon-github"></i> 
              </a>
              <a href="http://www.linkedin.com/in/baudoin/">
                  <i class="icon-linkedin"></i> 
              </a>
          </div>

        </header>

        <div class="content">

          {{ content }}

        </div>

      </div>

      <script src="/_bower_components/jquery/jquery.min.js"></script>
      
      <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-7218772-2']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>

    </body>
</html>
